@import '~bulma/sass/utilities/initial-variables';

$family-primary: 'Kanit';

$primary: #a1d6e2;
$link: #1995ad;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;

$dark: $grey-darker;
$text: $grey-dark;
$grey: #bcbabe;
$light: #f1f1f2;

$radius: 20px;
